
<script type="text/javascript">

 if(localStorage.token === 'undefined') {
 console.log('product : token not defined')
   window.location.replace("/login")
}
</script>



    <main class="mdl-layout__content mdl-color--grey-200">

        <div class="demo-upd .mdl-card__title mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-col-desktop">


            <div class="mdl-card__title mdl-card--expand mdl-color--grey-400">

                <a href="/dsharing/?token={{token}}" <h2 class="mdl-card__title-text mdl-color-text--black">Caméra</h2> </a>
            </div>


            <h5>&nbsp; SCAN QR CODE</h5>

            <video id="player" controls autoplay></video>
            <!-- <button id="capture">Capture</button>
            <canvas id="canvas" width=320 height=240></canvas> -->


  </div>
    <main>


      <link rel="stylesheet" href="/mdl/material.min.css">
      <script src="/mdl/material.min.js"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
      <script type="text/javascript" src="/scripts/instascan.min.js"></script>
      <script>

        $('.revoke').click( function() {
          console.log('http://localhost:4001/api/agreement/' + $(this).attr('agreement-id'))
          $.ajax({
            url: 'http://localhost:4001/api/agreement/' + $(this).attr('agreement-id'),
            method:'DELETE',
            dataType: 'json',
            headers: {
              token : '{{token}}'
            }
          })
          .done(function() {
            console.log('done');
            window.location.reload()
          });
        });

      </script>
      <script>
        // const player = document.getElementById('player');
        // const canvas = document.getElementById('canvas');
        // const context = canvas.getContext('2d');
        // const captureButton = document.getElementById('capture');
        //
        // const constraints = {
        //   video: true,
        // };
        //
        // // captureButton.addEventListener('click', () => {
        // //   // Draw the video frame to the canvas.
        // //   context.drawImage(player, 0, 0, canvas.width, canvas.height);
        // // });
        //
        // // Attach the video stream to the video element and autoplay.
        // navigator.mediaDevices.getUserMedia(constraints)
        //   .then((stream) => {
        //     player.srcObject = stream;
        //   });
        const constraints = {
          video: true,
        };
        navigator.mediaDevices.getUserMedia(constraints)
          .then((stream) => {
            player.srcObject = stream;
          });
        let scanner = new Instascan.Scanner({ video: document.getElementById('player') });
              scanner.addListener('scan', function (content) {
                console.log(content);
              });
              Instascan.Camera.getCameras().then(function (cameras) {
                if (cameras.length > 0) {
                  scanner.start(cameras[0]);
                } else {
                  console.error('No cameras found.');
                }
              }).catch(function (e) {
                console.error(e);
              });


    </script>


  </body>
</html>
