
<link rel="stylesheet" href="/css/login.css">
    <form id="login" method="post" class="form-signin">
      <img width=80% src="/images/logotellit.png" style="height: 221px; width: 225px;margin-bottom: 15px; ">
      <p style="text-align: center;"><a href="/register">Register here</a> if you're not to get full access.</p>
      <div class="separ">
              <div class="or">
                  <p><span>or</span></p>
              </div>
      </div>
      {{#if message}}
       
        <div class="alert alert-danger">{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"><span col>&times;</span></span>
        </button>test
        </div>
      
       {{/if}}
      
      <input type="email" name="email" value="" class="form-control" placeholder="Email" required autofocus>
      <input type="password" name="password" class="form-control" placeholder="Password" required>

      <button class="btn" type="submit">Log in</button>

    </form>



<script type="text/javascript">

function handleErrors(response) {
    response => response.json()
    return response;
}

const formToJSON = elements => [].reduce.call(elements, (data, element) => {

  data[element.name] = element.value;
  return data;

}, {});


  const formLogin = document.querySelector('#login')

  formLogin.addEventListener('submit', event => {
    event.preventDefault()
    const data = formToJSON(login.elements);

    fetch('/api/signin', {
      method: 'POST',
      headers: {'Content-Type': 'application/json; charset=utf-8'
      },
      body: JSON.stringify(data, null, ' ')
    })
    .then(res => res.json())
    .then(data => {
      localStorage.setItem('token', data.token)
      if(localStorage.token === "undefined") {
         console.log('token not defined, invalid credentials')
         window.location.replace("/?error=1")

         } else {
            validurl = "/feed/?token="+data.token
            window.location.replace(validurl)
         }
    })
  })
</script>
