
<script type="text/javascript">

 if(localStorage.token === 'undefined') {
 console.log('product : token not defined')
   window.location.replace("/login")
}

  

</script>




 <!-- body.... Central  Contents -->
     
      <main class="mdl-layout__content mdl-color--grey-100">


        <div id="etat" onclick="myFunction1()" onmouseover="hoverColor()"  class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-col-desktop mdl-js-button mdl-js-ripple-effect">     
      


       <div id="etat2" onmouseover="hoverColor()" class="mdl-card--expand mdl-color--grey-300">
       

                <h2 class="mdl-card__title2">Contracts </h2> 
            </div>  


                 <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                    Current and ongoing contracts


                 </div>
                 
         </div>
     
      
     
      
        <div id="mensaje" onclick="myFunction2()" class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-col-desktop mdl-js-button mdl-js-ripple-effect">     


            <div class="mdl-card--expand mdl-color--grey-300">

                <h2 class="mdl-card__title1">Messages</h2>
            </div>

                 <div class="mdl-card__supporting-text mdl-color-text--grey-600">
              Messages and notifications
                </div>                     
         </div>


        <div id="siniestro" onclick="myFunction4()" class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-col-desktop mdl-js-button mdl-js-ripple-effect">     
            <div class="mdl-card--expand mdl-color--grey-300">

                <h2 class="mdl-card__title4">Claims</h2>
            </div>

                 <div class="mdl-card__supporting-text mdl-color-text--grey-600">
              Declare and access current claims
                </div>                     
         </div>



        <div id="contacto" onclick="myFunction3()" class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-col-desktop mdl-js-button mdl-js-ripple-effect">     


            <div class="mdl-card--expand mdl-color--grey-300">

                <h2 class="mdl-card__title3">Privacy dashboard</h2>
            </div>

                 <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                Manage your private information
            </div>

                 <div class="mdl-card__supporting-text mdl-color-text--grey-600">
             
                </div>                     
         </div>   
            

         </div>

revolutionises customer-provider relationships by empowering business with smart contracts.


      </main>
  
 <!-- end central contents -->

     
<!--
      
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
   -->

<script>
function myFunction1() {

    var x = document.getElementById('etat');
    validurl = "/enterprises/?token={{token}}";
    window.location.replace(validurl) 
}

function myFunction2() {
    var x = document.getElementById('mensaje');
    validurl = "/pnotif/?token={{token}}";
    window.location.replace(validurl) 
}

function myFunction3() {
    var x = document.getElementById('contacto');
    validurl = "/pnotif/?token={{token}}";
    window.location.replace(validurl) 
}


function myFunction4() {
    var x = document.getElementById('siniestro');
    validurl = "/users/?token={{token}}";
    window.location.replace(validurl) 
}

    function hoverColor(){
     document.getElementById("etat").style.cursor = "pointer";
     document.getElementById("mensaje").style.cursor = "pointer";
     document.getElementById("siniestro").style.cursor = "pointer";
     document.getElementById("contacto").style.cursor = "pointer";
     printDate();
 }

 function printDate(){
        var today = new Date();
        var month = today.getMonth()+1;
        var dd = today.getDate()< 10 ? "0" + today.getDate() : today.getDate();
        var mm = month < 10 ? "0" +  month : month;
        var yyyy = today.getFullYear();
        var hh = today.getHours() < 10 ? "0" + today.getHours() : today.getHours();
        var min = today.getMinutes()< 10 ? "0" + today.getMinutes() : today.getMinutes();
        var sec = today.getSeconds()< 10 ? "0" + today.getSeconds() : today.getSeconds();
        console.log(dd +"-"+ mm + "-" + yyyy + '-' + hh + ':' + min+ ':' + sec);
  }




</script>


<link rel="stylesheet" href="/mdl/material.min.css">
<script src="/mdl/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   
  </body>
</html>
