body {
    padding-top: 0px;
    padding-bottom: 40px;
    background-color: #DEDEDE;
}

.form-signin {
    width: 330px;
    padding: 30px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #FFFF;
    box-shadow: 5px 5px 4px #ccc;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: -100px;
    /* Half the height */
    margin-left: -165px;
    /* Half the width */
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#login .btn-block {
    background-color: #93117e;
    border: 0;
    cursor: pointer;
}